<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decryption page</title>
</head>
<body>
  <div class="caesarNav">
    <h2>Caesar Cipher</h2>

    <div class="column" style="border: 1px solid black;">
      <h2>Encrypted Text</h2>
      <textarea id="inputCeasarDecrypt">Enter text</textarea>
    </div>

    <div class="column" style="border: 1px solid black;">
      <h2>Clear Text</h2>
      <textarea id="outputCeasarDecrypt" readonly class="encryptedText">Output text (cannot edit)</textarea>    
    </div>

    <button class="submit" onclick="caesarDecrypt()">Submit Text</button>
  </div>

    <script src="../public/js/jquery-3.6.0.js"></script>
    <script src="../public/js/jquery-ui.min.js"></script>
    <script src="../public/js/slidePanes.js"></script>
    <script src="../public/js/decrypt.js"></script>
</body>
</html>