<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption Project</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/styles.css">

</head>
  <body>
    <div id="wrapper">
      <h1>Encryption Project</h1>
  
      <div class="caesarNav">
        <h2>Caesar Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea id="caesarInputText">Enter text</textarea>
        </div>
    
        <div class="column">
          <h2>Encrypted Text</h2>
          <textarea id="caesarOutputText" readonly class="encryptedText">Output text (cannot edit)</textarea>    
        </div>

        <div class="buttonArea">
          <button class="submit" onclick="caesarEncrypt()">Submit Text</button>
        </div>
        
      </div> <!--End Caesar Div-->
  
      <div class="polybiusNav">
        <h2>Polybius Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea id="polybiusInputText">Enter text</textarea>
        </div>
    
        <div class="column">
          <h2>Encrypted Text</h2>
          <textarea id="polybiusOutputText" readonly class="encryptedText">Output text (cannot edit)</textarea>    
        </div>

        <div class="buttonArea">
          <button class="submit" onclick="polybiusEncrypt()">Submit Text</button>
        </div>

      </div> <!--End polybius Div-->
  
      <div class="atbashNav">
        <h2>Atbash Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea class="enterText">Enter text</textarea>
        </div>
    
        <div class="column">
          <h2>Encrypted Text</h2>
          <textarea readonly class="encryptedText">Output text (cannot edit)</textarea>    
        </div>
        
      </div> <!--End atBash Div-->
  
    </div><!--End Wrapper Div-->

    <a href="/info">Learn more about the ciphers here!</a>
    <a href="/decrypt">Decrypt you message here!</a>
  
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slidePanes.js"></script>
    <script src="js/encrypt.js"></script>
    

      

</body>
</html>

