<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption Project</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/styles.css">

</head>   
  <body>
    <div id="wrapper">
      <div>
        <h1>Encryption Project</h1> 
        <img id="imgLock" src="images/logo5.png">

      </div>

      <ul>
        <li><a class="active" href="/">Encrypt Text</a></li>
        <li><a href="/decrypt">Decrypt Text</a></li>
        <li><a href="/info">About Ciphers</a></li>
      </ul>
  
      <div class="caesarNav">
        <h2>Caesar Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea onkeyup="caesarEncrypt()" id="caesarInputText" placeholder="Enter text"></textarea>
          <br>
          <br>
          <label for="shiftInput">Enter the amount you wish to shift the alphabet by:</label>
          <input onchange="caesarEncrypt()" type="number" name="caesarShift" id="caesarShift" value="3">
          <h4>Original Alphabet</h4>
          <span class="spans">abcdefghijklmnopqrstuvwxyz</span>
          
          
        </div>
    
        <div class="column" id="caesarEncryptionFix">
          <h2>Encrypted Text</h2>
          <textarea id="caesarOutputText" readonly class="encryptedText" placeholder="hqwhu whaw"></textarea>   
          <h4>Shifted Alphabet</h4>
          <span class="spans" id="shiftedAlphabet">defghijklmnopqrstuvwxyzabc</span>
          <br>
           
        </div>
        
      </div> <!--End Caesar Div-->
  
      <div class="polybiusNav">
        <h2>Polybius Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea onkeyup="polybiusEncrypt()" id="polybiusInputText" placeholder="Enter text"></textarea>
        </div>
    
        <div class="column">
          <h2>Encrypted Text</h2>
          <textarea id="polybiusOutputText" readonly class="encryptedText" placeholder="153445154345155445"></textarea>    
        </div>


      </div> <!--End polybius Div-->
  
      <div class="atbashNav">
        <h2>Atbash Cipher</h2>
  
        <div class="column">
          <h2>Clear Text</h2>
          <textarea onkeyup="atbashEncrypt()" id="atbashInputText" class="enterText" placeholder="Enter text"></textarea>
        </div>
    
        <div class="column">
          <h2>Encrypted Text</h2>
          <textarea id="atbashOutputText" readonly class="encryptedText" placeholder="vmgvi gvcg"></textarea>    
        </div>
        
      </div> <!--End atBash Div-->
  
    </div><!--End Wrapper Div-->
  
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slidePanes.js"></script>
    <script src="js/imageShake.js"></script>
    <script src="js/encrypt.js"></script>

</body>
</html>