/**********************************************************/
/**************** Media Query For Desktop *****************/
/**********************************************************/
h1 {
  color: white;
}

body {
  background: #222;
  color: #ccc;
  text-align: center;
}

.column {
  display: inline-block;
  width: 40%;
  text-align: center;
  border: 1px solid white;
  background: rgb(20, 20, 20);
}

.column h2 {
  color: white;
}

.caesarNav > h2 {
  width: 155px;
}

.caesarNav > h2:hover {
  color: white;
}

.polybiusNav> h2 {
  width: 175px; 

}

.polybiusNav> h2:hover {
  color: white;

}

.atbashNav > h2 {
  width: 155px; 

}

.atbashNav > h2:hover {
  color: white;

}

.info {
  color: #00FFFF 
}

.buttonArea {
  margin-right: 72%;
}

/*********************************************************/
/******************* Navigation Setup ********************/
/*********************************************************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}



/*********************************************************/
/**************** Media Query For Tablet *****************/
/*********************************************************/
@media only screen and (max-width: 64em) {

  .column {
    display: block;
    width: 70%;
  }

  .submit {
    /*padding: top right bottom left */
    padding: 10px 100px 10px 100px;
  }

  .buttonArea {
    margin-right: 30%;
  }

}


/**********************************************************/
/************** Media Query For Smartphones ***************/
/**********************************************************/
@media only screen and (max-width: 37.5em) {
  
  #wrapper {
    padding-left: 30px;
  }
  
  
  .column {
    display: block;
    width: 50%;
    padding: 15px 100px 25px;
  }
  
  .column textarea {
    padding: 25px 20px 15px;
    text-align: center;
  }

  .buttonArea {
    margin-right: 0;
  }

  /*********************************************************/
/******************* Navigation Setup ********************/
/*********************************************************/
ul {
  width: 397px;
  background-color: #333;
  border: 1px solid #bbb;
}

li {
  float: none;
  text-align: center;
  border-right: none;
  border-bottom: 1px solid #bbb;
}

li:last-child {
  border-bottom: none;
}


}